*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100%;
	width: 100%;
	background-color: cyan;
}
.container{
	position: relative;
	top: 150px;
	margin: 80px;
	background: rgba(0,0,0,0.7);
}

.images{
	margin-top: 8px;
}
.images img{
	width: 30%;	
	border: 5px solid gray;
}